*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 18%;
}


.imagen{
    width: 100%;
    padding: 50px 0 0 0;
}


.cv{
    width: 50px;
    padding: 0;
}

.cv-boton{
    width: min-content;
    background-color: transparent;
}
body{
    background-color: thistle !important;
}

.alineador{
    display: flex;
    align-items: left;
    background-color: blueviolet;
    width: 100vh;
}

.cvc{
    width: 100vw;
    height: 100vh;
}


.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.separacion{
    width: 100vw;
    height: 70vh;
    background-color: rgb(0, 162, 255);
    background-image: url(./images/espacio1.svg);
    background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
.separacion2{
    background-image: url(./images/espacio2.svg);
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

.falta{
    height: 70vh;
    width: 100vw;
    background-color: blueviolet;
    position: static;
}

.im img{
    width: 100%;
}


header{
    position: fixed !important;
    top: 0%;
    width: 100vw;
    z-index: 10;
}
nav{   
    top: 0% !important;
}

.hb{
    max-width: 80px;
}

.habil{
    transition: 0.4s ease;
    opacity: 0.8;
}

.habil:hover{
    transform: scale(1.05);
    transition: .5s ease;
    opacity: 1;
}

.ffoot{
    max-width: 80px;
}

footer{
    background-color:blanchedalmond;
    width: 100vw;
    bottom: 0%;
}

.para{
    padding: 20px;
}

.formuu {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }

.modal-pict{
    background-image: url(./images/Peli-dex.gif);
    height: 70vw;
    background-size: contain;
    background-repeat: no-repeat;
}



:root {
    --bg: #3C465C;
    --primary: #0e422f;
    --solid: #fff;
    --btn-w: 10em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
  }
  


  .btnn {
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;  
  }
  .dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
  }
  .dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
          0 0 2em var(--primary);
  }
  .btnn:hover .dot,
  .btnn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
  }
  @keyframes atom {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X)) rotate(0);}
    50% {transform: translateX(var(--tr-X)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
  }

  .formmm{
      font-size: 42px;
  }
  

  figure{
      cursor: pointer;
      border-radius: 5px;
      

  }
  figure img{
      width: 100%;
      height: 100%;
      opacity: 1 !important;
      transition: 0.5s ease;

  }

figure .ocull{
    display: none;
    transition: 0.5s ease;

}

figure:hover img{
    height: 100%;
    width: 100%;
    opacity: 0.5 !important;
    transition: 0.5s ease;
}

figure:hover .ocull{
    display: block;
    color: #fff;
    background-color: #174fb6;
    border-radius: 10px;
    transition: 0.5s ease;

}

.ocull{
    margin: auto;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wpp:hover .fab{
    color: #128C7E;

}

.lnk:hover .fab{
    color: #0e76a8
}

.git:hover .fab{
    color: #171515
}

.redes-container a{
    margin: 0px 5px;
}

.redes-container a i{
    filter: blur(1px);
    transition: all .3s ease;

}
.redes-container a:hover i{
    filter: blur(0);
    transform: scale(1.2);
    transition: all .3s ease;
}

 



.ocull p {
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
@media screen and (max-width: 768px) {
    .espacioR{
        margin-top: 16vh !important;
    }
    .mobil {
        display:flex;
        margin-left: 20vw;
        flex-direction:column-reverse !important;
    }
    .mobil h3,
    .mobil h1{
        text-align: center;
    }
    .botonesJ{
        margin-left: 15vw;
    }
    .botonesJ button a{
        width: 30vw;
        min-width: 110px !important;
    }
}
@media screen and (min-width: 768px) and (max-width:992px){
    .espacioR{
        margin-top: 20vh !important;
    }
    .imagen{
        display: none;
    }


}

.intro p{
    font-size: 22px;
}

@media screen and (min-width: 992px){ 
.titulos{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider{
    width: 12000px;
    min-height: 80vh;
    background-image: url(./images/titulos.jpg);
    background-size: 100% 100%;
    animation: slider 50s infinite linear;
}

@keyframes slider {
    to{
background-position: 12000px;
    }
}
.slider:hover{
animation-play-state: paused;
}
}
















body{
    overflow-x: hhidden;
} 

